.news-list-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: "Times New Roman", Times, serif; /* Đổi font chữ */
}

.news-title-container {
  margin: 20px auto; 
}

.news-title-container h1 {
  text-align: center; /* Đặt tiêu đề vào giữa */
  font-size: 2em; /* Tăng kích thước tiêu đề */
  color: #6A1E55; /* Màu sắc tiêu đề đẹp hơn */
  margin-bottom: 20px; /* Khoảng cách dưới tiêu đề */
}


.news-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Căn giữa các thẻ tin tức */
}

.news-card {
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  min-height: 350px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.new-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  image-rendering: crisp-edges;
  border-radius: 4px;
  margin-bottom: 12px;
  transition: transform 0.3s ease;
}

.news-card h2 {
  font-size: 1.2em;
  margin: 8px 0;
  height: 48px;
  overflow: hidden;
}

.news-card p {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 8px;
}

.news-link {
  text-decoration: none;
  color: inherit;
}

.load-button {
  text-align: center;
  margin-top: 20px;
}

.load-button button {
  padding: 10px 20px;
  background-color: #E32C89;  
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-button button:hover {
  background-color: #8c2156;
}
