@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* Footer container */
.footer {
  position: relative;
  color: white;
  font-family: "Times New Roman", serif;
  margin-top: auto;  /* Đảm bảo footer luôn ở dưới cùng */


}

.footer-image {
  width: 100%;
  height: 100%;  /* Điều chỉnh chiều cao của ảnh để phủ hết chiều cao của footer */
  position: absolute;
  bottom: 0;  /* Đặt ảnh ở cuối cùng của footer */
  left: 0;
  z-index: -1; /* Đảm bảo ảnh không che các nội dung khác */
  object-fit: cover;
  
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.footer-link {
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0 15px;
  text-transform: uppercase;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #E32C89;
}

.footer-dot {
  color: white;
  font-size: 18px;
  margin: 0 15px;
}

/* Footer contact info */
.footer-info {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.footer-contact {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 70px;
}

.footer-contact-item {
  display: flex;
  align-items: center;
}

.footer-contact-item img {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.contact-text {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  word-wrap: break-word;
}

/* Footer logo */
.footer-logo {
  text-align: center;
  flex: 1;
  margin-top: 50px;
}

.footer-logo-text {
  color: #E32C89;
  font-size: 100px;
  font-family: 'Dancing Script', cursive; 
  font-weight: 400;
  line-height: 72px;
  margin-bottom: 20px;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  gap: 30px;               

}

.footer-social-icon {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block; 
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: 30px;

}

.footer-social-icon img {
  width: 30px;
  height: 50px;
  object-fit: contain;
}

.footer-social-icon:hover {
  background-color: #D10B6D;
  transform: scale(1.1);
}

.footer-description {
  color: white;
  font-size: 35px;
  line-height: 1.6;
  word-wrap: break-word;
  margin-top: 20px;
  text-align: center;
  max-width: 550px;  
  font-family: 'Dancing Script', cursive; 

}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #333;
  margin-top: 60px;
}

.footer-bottom-text {
  color: #D1D5DB;
  font-size: 12px;
  font-weight: 400;
  
}

.footer-bottom-links {
  display: flex;
  gap: 20px;
}

.footer-bottom-link {
  color: #D1D5DB;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-bottom-link:hover {
  color: #E32C89;
}

.footer-bottom-link:focus {
  outline: none;
}
